-- 1. Add hints_taken column to odyssey_progress
ALTER TABLE odyssey_progress ADD COLUMN IF NOT EXISTS hints_taken INTEGER DEFAULT 0;

-- 2. Create RPC for atomic increment of hints
CREATE OR REPLACE FUNCTION increment_hints_taken(student_id_val UUID)
RETURNS void AS \$\$
BEGIN
    UPDATE odyssey_progress
    SET hints_taken = hints_taken + 1
    WHERE student_id = student_id_val;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;
